* {
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: #243447;
}
.title {
    text-align: center;
}
  
.analogico {
    margin: auto;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
}
.ponteiros {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
  }
  
  .encaixe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    transform: translate(-50%, -50%);
  }
  
  .p {
    transform-origin: left;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
  }
  
  .p_s {
    width: 90px;
    height: 3px;
    background-color: red;
    transform: rotate(0deg);
  }
  
  .p_m {
    width: 100px;
    height: 3px;
    background-color: black;
    transform: rotate(-45deg);
  }
  
  .p_h {
    width: 70px;
    height: 5px;
    background-color: black;
    transform: rotate(45deg);
}

.digital {
    font-weight: bold;
    margin-top: 30px;
    font-size: 40px;
}

.date {
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
}